doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/_tests
**/dist
**/eggs
**/build
**/_catalogs
**/.ipynb_checkpoints
**/bak
*.DS_Store
data/MAIN*
data/SV3*
data/DA02*
res/
*.log
